<div class='row' data-hook='admin_brand_form_fields'>
  <div class='col-md-8' data-hook='admin_brand_form_name'>
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', class: 'required')) %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>

  <div class='col-md-2' data-hook='admin_brand_form_available_on'>
    <%= f.field_container :available_on, class: ['form-group'] do %>
      <%= f.label :available_on, raw(Spree.t(:available_on) + content_tag(:span, ' *', class: 'required')) %>
      <%= f.text_field :available_on, value: datepicker_field_value(@brand.available_on), class: 'datepicker form-control' %>
      <%= f.error_message_on :available_on %>
    <% end %>
  </div>

  <div class='col-md-2' data-hook='admin_brand_form_active' >
    <%= f.field_container :active, class: ['form-group'] do %>
      <%= f.label :active, Spree.t(:active) %>
      <%= f.check_box :active, class: 'form-control' %>
    <% end %>
  </div>

  <div class='col-md-12' data-hook='admin_brand_form_description'>
    <%= f.field_container :description, class: ['form-group'] do %>
      <%= f.label :description, raw(Spree.t(:description) + content_tag(:span, ' *', class: 'required')) %>
      <%= f.text_field :description, class: 'form-control' %>
      <%= f.error_message_on :description %>
    <% end %>
  </div>
</div>
